body{
    text-align: center;
    background: rgb(236, 236, 236);
    /* user-select: none; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-body{
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    padding: 0;
    border: 0.5px solid lightgrey;
    background: white;
    height: 650px;
}

.social-login-links span a img{
    width: 10%;
    min-width: 50px;
    max-width: 100px;
    margin: 20px;
    /* fill-rule:  */
}

.social-login-links{
    background: rgba(185, 237, 255, 0.363);
}

form{
    margin: 50px auto;
}

input{
    margin-top: 30px;
    border: none;
    border-bottom: 0.2px solid rgb(179, 177, 177);
    font-size: 18px;
    width: 70%;
    padding: 10px;
    transition: 300ms;
}

#submit{
    width: 130px;
    padding: 10px 30px;
    border: none;
    background: rgb(60, 60, 247);
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}

input:focus{
    outline: none !important;
    background: rgba(248, 242, 242, 0.685);
}
